# https://docs.github.com/en/authentication/troubleshooting-ssh/using-ssh-over-the-https-port#enabling-ssh-connections-over-https
Host github.com
  HostName ssh.github.com
  Port 443
  User git
  UpdateHostKeys yes
  IdentityFile ~/.ssh/xxx

# Some group of hosts
Host example-1
  HostName xxx.xxx.xxx.xxx
  User ubuntu
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519

# Main wildcard ruleset
Host *
  User xxx
  AddKeysToAgent yes
  UseKeychain yes
  ServerAliveInterval 60
  ChallengeResponseAuthentication no
  StrictHostKeyChecking accept-new
  ExitOnForwardFailure yes
